.wrap {}

.main-heading-container {
  font-size: 30px !important;
  margin-bottom: 24px;
  margin-left: 9px !important;
}

.notice {
  margin: 16px 0;
  border-radius: 6px;
  font-weight: 500;
}

.notice-success {
  background: #d1f1d8;
  color: #006600;
  border: 1px solid #00a32a;
}

.notice.is-dismissing {
  opacity: 0;
  transition: opacity 3.1s ease-out;
}

.notice-error {
  background: #fde8e8;
  color: #9e0000;
  border: 1px solid #cc0000;
}

.nav-tab-wrapper {
  margin-bottom: 24px;
  border: none;
  margin-top: 12px;
}

.nav-tab {
  padding: 4px 16px 4px 16px;
  background-color: #ffffff;
  font-size: 16px;
  color: #1F2937;
  cursor: pointer;
  border-radius: 28px;
  font-weight: 600;
  border: none;
  box-shadow: none !important;
}
.nav-tab-svg {
  padding-top: 5px;
}
.nav-tab-text {
  padding: 1px 6px 2px 6px;
}
.nav-tab-sub-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-tab-active {
  background-color: #ffffff !important;
  border: 2px solid #6B33C1 !important;

}

.loader {
  display: flex;
  text-align: center;
  padding: 60px;
  font-size: 18px;
  color: #646970;
  justify-content: center;
  margin-top: 25vh;
}