.toggle-switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  right: 11px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=checkbox],
input[type=radio] {
  min-width: none;
}

.slider {
  position: relative;
  width: 35px;
  height: 19px;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 4px;
  bottom: 3px;

  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

input:checked+.slider {
  background-color: #6B33C1;
}

input:checked+.slider:before {
  transform: translateX(15px);
}

.toggle-switch:hover .slider {
  background-color: #bbb;
}

input:checked+.slider:hover {
  background-color: #7030d1;
}

.toggle-label {
  color: #1d2327;
  font-weight: 500;
}